<ion-header>
  <ion-toolbar>
    <ion-title size="small">{{community.name}}</ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
    <ion-buttons slot="secondary">
     <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>
      User Actions:
    </h1>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="goToCommunityCalendar()" >View Community Calendar</ion-button>

  </div>
  <div class="center" *ngIf="this.isModerator">
    <h1>
      Moderator Actions:
    </h1>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="schedule()" >Schedule an Event</ion-button>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="viewCommunityDetails()" >Edit Community Details</ion-button>
  </div>
  <div class="center" *ngIf="this.isOwner">
    <h1>
      Owner Actions:
    </h1>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="test()" >Manage Members</ion-button>

  </div>
</ion-content>
