<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
      <ion-buttons slot="primary">
      </ion-buttons>
      <ion-buttons slot="secondary">
       <ion-back-button></ion-back-button>
     </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content scrollY="false" fullscreen="true">
  <img src="./assets/party-hat.png">

  <div class="center">
    <ion-item>
      <ion-label color="primary" position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.passwordConfirm" required></ion-input>
    </ion-item>

      <ion-button class="submit-btn" expand="block" type="submit" (click)="signUpWithEmail(user.email,user.password)">Sign up</ion-button>
  </div>

  
  
  </ion-content>