<ion-header>
  <ion-toolbar>
    <ion-title size="small">Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon name="exit-outline">logout</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>
    Your Communities:
  </h1>
  <ion-list>
    <ion-item *ngFor="let community of (communities | async)" (click)="viewCommunity(community)">
      <ion-thumbnail slot="end">
        <ion-img [src]="community.pic"></ion-img>
      </ion-thumbnail>
      <ion-label>{{community.name}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
<ion-footer>
  <ion-button class="submit-btn" expand="block" type="submit" (click)="openJoinCommunityPage()" >Join a Community</ion-button>
</ion-footer>
