<ion-header>
  <ion-toolbar>
    <ion-title>Community Details</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon name="exit-outline">logout</ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
       <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>
      Members:
    </h1>
    temp bs
  </div>
  <div class="center">
    <h1>
      Group Icon:
    </h1>
    <ion-item>
      <ion-label>Icons</ion-label>
      <ion-select [(ngModel)]="this.pic" multiple="false" cancelText="Nah" okText="Okay!">
        <ion-select-option value="star">Star</ion-select-option>
        <ion-select-option value="sword">Sword</ion-select-option>
        <ion-select-option value="shield">Shield</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="center">
    <h1>
      Group Description:
    </h1>
    <ion-button class="submit-btn" expand="block" type="submit" (click)="test()" >Manage Members</ion-button>
    <ion-item lines="none">
      <ion-label>Private Group</ion-label>
      <ion-toggle [(ngModel)]="isPrivate" class="toggle"></ion-toggle>
    </ion-item>
  </div>
</ion-content>
