<ion-header>
  <ion-toolbar>
    <ion-title>Community Details</ion-title>
      <ion-buttons slot="primary">
      </ion-buttons>
      <ion-buttons slot="secondary">
       <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>
    Members:
  </h1>
  <ion-list>
    <ion-item *ngFor="let member of (memberList | async)">
      <ion-label>{{member}}</ion-label>
    </ion-item>
  </ion-list>
  <div class="center">
  </div>
  <div class="center">
    <h1>
      Group Icon:
    </h1>
    <ion-item>
      <ion-label>Icons</ion-label>
      <ion-select [(ngModel)]="this.pic" multiple="false" cancelText="Cancel" okText="Confirm">
        <ion-select-option value="star">Star</ion-select-option>
        <ion-select-option value="sword">Sword</ion-select-option>
        <ion-select-option value="shield">Shield</ion-select-option>
        <ion-select-option value="bubble-tea">Bubble Tea</ion-select-option>
        <ion-select-option value="coffee">Coffee</ion-select-option>
        <ion-select-option value="flower">Flower</ion-select-option>
        <ion-select-option value="tree">Tree</ion-select-option>
        <ion-select-option value="heart">Heart</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="center">
    <h1>
      Group Description:
    </h1>
    <ion-item lines="none">
      <ion-textarea [(ngModel)]="this.description" maxlength="150" rows="6" cols="20" placeholder="placeholder text is here lul (150 characters max)"></ion-textarea>
    </ion-item>
  </div>
  <ion-button class="submit-btn" expand="block" type="submit" (click)="test()" >test</ion-button>
</ion-content>
